*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.body-inicio{
    background: linear-gradient(90deg,
    rgba(166,93,234,1)25%,
    rgba(207,103,235,1)73%);
    background-image: url(/imagenes/loginbackground.png);
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.background{
    padding: 32px 0;
    background-color: rgb(197, 107, 107);
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 24px;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #15a4f9;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

@media(max-width:991px){
    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .background{
        padding: 40px 0;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #2a394f;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
}

.body-login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/imagenes/loginbackground.png);
    background-size: cover;
}

.container-form{
    max-width: 900px;
    height: 500px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    transition: all 1s ease;
    margin: 10px;
}

.informacion{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(197, 107, 107);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-childs{
    width: 100%;
    padding: 0 30px;
}

.info-childs h2{
    font-size: 2.5rem;
    color: #333;
}

.info-childs p{
     margin: 15px 0;
     color: #555;
}

.info-childs input{
    background-color: transparent;
    outline: none;
    border: solid 2px #9191bd;
    border-radius: 20px;
    padding: 10px 20px;
    color: #9191bd;
    cursor: pointer;
    transition: background-color .3s ease;
}

.info-childs input:hover{
    background-color: #9191bd;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form-informacion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-informacion-childs{
    padding: 0 30px;
}

.form-informacion-childs h2{
    color: #333;
    font-size: 2rem;
}

.form-informacion-childs p{
    color: #555;
}

.icons{
    margin: 15px 0;
}

.icons i{
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #9191bd;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.icons i:hover{
    background-color: #c7c6f3;
    color: #fff;
}

.form{
    margin: 30px 0 0 0;
}

.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form label input{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.form label i{
    color: #a7a7a7;
}

.form input[type="submit"]{
    background-color: #9191bd;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form input[type="submit"]:hover{
    background-color: #a7a7a7;
}

@media screen and (max-width:750px) {
    html{
        font-size: 12px;
    }

    .container-form{
        flex-direction: column;
        height: auto;
    }

    .informacion{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .form-informacion{
        width: 100%;
        padding: 20px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }
}

.hide{
    position: absolute;
    transform: translateY(-300%);
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal >li >a{
    display: block;
    padding: 15px;
    color: white;
   text-decoration: none; 
}

.menu-horizontal >li:hover{
    background-color: red;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: red;
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

.container{
	width: 100%;
	display: flex;
	max-width: 1100px;
}

.card{
	width:100%;
    margin:20px;
    border-radius: 6px;
    overflow: hidden;
    background:rgb(197, 107, 107);
    box-shadow: 0px 1px 10px #fff;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img{
    width: 100%;
    height: 210px;
}

.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido p{
    line-height: 1.5;
    color: #fff;
}

.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    border: 1px solid rgb(153, 46, 46);
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover{
    background: rgb(228, 54, 54);
    color: #fff;
}

.footer{
    width: 100%;
    background-color: rgb(212, 129, 129) ;
}

.footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid: 50px;
    padding: 45px 0;
}

.footer .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .grupo-1 .box figure img{
    width: 250px;
}

.footer .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.redes{
    margin: 15px 0;
}

.redes i{
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: black;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.redes i:hover{
    background-color: red;
    color: #fff;
}

.footer .grupo-2{
    background-color: #fff;
    padding: 15px 10px;
    text-align: center;
    color: antiquewhite;
}

.footer .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .footer .grupo-1{
        width: 90%;
        grid-template-columns: repeat(3,fr);
        grid: 50px;
        padding: 45px 0;
    }
}
    
